**Scavenger Hunt Day 1 Introduction**

In [1]:
import pandas as pd
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
open_aq = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="openaq")

# print all the tables in this dataset (there's only one!)
open_aq.list_tables()

['global_air_quality']

In [2]:
#print the first couple rows of the table
open_aq.head('global_air_quality')

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,Mobile_Cle Elum,037,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,47.197630,-120.958230,1.0
1,Mobile_WhiteSalmon,039,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,45.732414,-121.492330,1.0
2,Mobile_Newport,051,US,pm25,0.00,2017-09-21 18:00:00+00:00,µg/m³,AirNow,48.186485,-117.049160,1.0
3,FR20047,Ain,FR,pm10,18.70,2018-02-13 07:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0
4,FR20047,Ain,FR,o3,2.13,2018-02-13 07:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0

In [18]:
open_aq.table_schema('global_air_quality')

[SchemaField('location', 'string', 'NULLABLE', 'Location where data was measured', ()),
 SchemaField('city', 'string', 'NULLABLE', 'City containing location', ()),
 SchemaField('country', 'string', 'NULLABLE', 'Country containing measurement in 2 letter ISO code', ()),
 SchemaField('pollutant', 'string', 'NULLABLE', 'Name of the Pollutant being measured. Allowed values: PM25, PM10, SO2, NO2, O3, CO, BC', ()),
 SchemaField('value', 'float', 'NULLABLE', 'Latest measured value for the pollutant', ()),
 SchemaField('timestamp', 'timestamp', 'NULLABLE', 'The datetime at which the pollutant was measured, in ISO 8601 format', ()),
 SchemaField('unit', 'string', 'NULLABLE', 'The unit the value was measured in coded by UCUM Code', ()),
 SchemaField('source_name', 'string', 'NULLABLE', 'Name of the source of the data', ()),
 SchemaField('latitude', 'float', 'NULLABLE', 'Latitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('longitude', 'float', 'NULLABLE', 'Longitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('averaged_over_in_hours', 'float', 'NULLABLE', 'The number of hours the value was averaged over.', ())]

In [3]:
query = """SELECT city
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE country = 'US'
        """

In [4]:
#the query_to_pandas_safe will only return a result if it's less
#than one gigabyte
us_cities = open_aq.query_to_pandas_safe(query)

In [5]:
#cities with most measurements
us_cities.city.value_counts().head()

Phoenix-Mesa-Scottsdale                     85
Houston                                     79
Los Angeles-Long Beach-Santa Ana            60
New York-Northern New Jersey-Long Island    57
Riverside-San Bernardino-Ontario            56
Name: city, dtype: int64

**Scavenger Hunt Day 1 Tasks**
* Which countries use a unit other than ppm to measure any type of pollution? 
* Which pollutants have a value of exactly 0?

In [9]:
#countries with unit other than ppm
query = """SELECT country
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE unit != 'ppm'
            """
no_ppm_countries = open_aq.query_to_pandas_safe(query)

In [12]:
no_ppm_countries['country'].value_counts()

FR    2638
ES    1876
DE    1382
US    1266
AT     784
CZ     600
TR     486
CL     406
GB     403
CN     384
BE     372
IT     320
NL     278
IN     230
PT     199
BR     188
TW     154
NO     154
AU     142
SK     132
MN     125
RU     124
HU     108
FI     106
CH      97
HK      89
CA      88
MK      70
MX      70
BA      69
      ...
PE      45
DK      26
LU      26
IE      24
SE      24
GH      22
MT      18
LV      13
SI       8
RS       8
AD       7
GI       6
AR       4
VN       3
ID       3
BD       2
ZA       2
ET       2
NP       2
SG       1
IL       1
NG       1
KW       1
CO       1
XK       1
AE       1
PH       1
LK       1
UG       1
BH       1
Name: country, Length: 64, dtype: int64

In [13]:
no_ppm_countries['country'].unique()

array(['AD', 'AE', 'AR', 'AT', 'AU', 'BA', 'BD', 'BE', 'BH', 'BR', 'CA',
       'CH', 'CL', 'CN', 'CO', 'CZ', 'DE', 'DK', 'ES', 'ET', 'FI', 'FR',
       'GB', 'GH', 'GI', 'HK', 'HR', 'HU', 'ID', 'IE', 'IL', 'IN', 'IT',
       'KW', 'LK', 'LT', 'LU', 'LV', 'MK', 'MN', 'MT', 'MX', 'NG', 'NL',
       'NO', 'NP', 'PE', 'PH', 'PL', 'PT', 'RS', 'RU', 'SE', 'SG', 'SI',
       'SK', 'TH', 'TR', 'TW', 'UG', 'US', 'VN', 'XK', 'ZA'], dtype=object)

In [20]:
#pollutant is zero
query = """SELECT pollutant
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE value = 0
"""
non_pollutants = open_aq.query_to_pandas_safe(query)
non_pollutants['pollutant'].value_counts()

so2     323
no2     113
co      107
o3       97
pm10     73
pm25     63
bc        1
Name: pollutant, dtype: int64