**Scaveger Hunt Day 2**

In [1]:
import bq_helper
hacker_news = bq_helper.BigQueryHelper(active_project="bigquery-public-data", dataset_name="hacker_news")
hacker_news.head("comments")

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,2701393,5l,5l,1309184881,2011-06-27 14:28:01+00:00,And the glazier who fixed all the broken windo...,2701243,None,None,0
1,5811403,99,99,1370234048,2013-06-03 04:34:08+00:00,Does canada have the equivalent of H1B/Green c...,5804452,None,None,0
2,21623,AF,AF,1178992400,2007-05-12 17:53:20+00:00,"Speaking of Rails, there are other options in ...",21611,None,None,0
3,10159727,EA,EA,1441206574,2015-09-02 15:09:34+00:00,Humans and large livestock (and maybe even pet...,10159396,None,None,0
4,2988424,Iv,Iv,1315853580,2011-09-12 18:53:00+00:00,I must say I reacted in the same way when I re...,2988179,None,None,0

In [2]:
query = """SELECT parent,count(ID)
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY parent
            HAVING COUNT(id) > 10
"""

In [3]:
popular_stories = hacker_news.query_to_pandas_safe(query)

In [4]:
popular_stories.head()

    parent  f0_
0  5371725  258
1  7833250  259
2  3652041  260
3  2403696  261
4  6889613   11

**SCAVENGER HUNT DAY 2 TASKS**

In [5]:
#How many stories are there of each type in the full table?
query = """SELECT type, count(id)
            FROM `bigquery-public-data.hacker_news.full`
            GROUP BY type
"""
type_count = hacker_news.query_to_pandas_safe(query)
type_count.head()

      type       f0_
0  comment  13540358
1    story   2853396
2  pollopt     11826
3      job     10197
4     poll      1729

In [7]:
#How many comments have been deleted?
query = """SELECT deleted, count(ID)
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY deleted
            HAVING deleted = TRUE
            """
deleted_comments_count = hacker_news.query_to_pandas_safe(query)
deleted_comments_count.head()

   deleted     f0_
0     True  227736